<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPG.Configs.core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RPG.Configs.core>
            <setting name="AIAPI" serializeAs="String">
                <value>pst-GD0R8Gr81k3TrEeIF1HjfBxQWR25ljpJMs9rYVNeiKdsTU8bA97S0ZPmifPo4shf</value>
            </setting>
        </RPG.Configs.core>
    </applicationSettings>
</configuration>